.input-wrap{
    width: 100%;
    font-size: 16px;
}
.input-wrap:not(:first-child){
    margin-top: 12px;
}

.input-wrap .input-label{
    font-size: 18px;
}

.input-wrap input{
    width: 100%;
    font-size: 16px;
    color: #666;
    border-bottom: 2px solid #ccc;
    padding: 8px 4px;
}
.input-wrap input:focus{
    border-bottom: 2px solid #000;
    color: #000;
}
