.form-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
}
.add-form{
    background-color: #fff;
    width: 500px;
    padding: 24px 32px;
    color: #000;
    border-radius: 8px;
    max-height: 70vh;
    overflow: auto;
}
.form-title{
    font-size: 32px;
    margin-bottom: 24px;
}
.form-container .add-form .action_container{
    margin-top: 32px;
}
.form-container .add-form .action-button{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}
.form-container .add-form .action-button:first-child{
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
}